<div class="left column"><h1>住所</h1></div>
<br class="clear">
<div class="left column">

<p style="line-height: 1.5em; font-size: 16px">JAMBO English School<br>
	東京都江東区富岡 1-26-13-203 (Shimada Bld.) <br>
	美容室の MESSA Raffinato の隣
</p>

<p style="line-height: 1.5em; font-size: 16px">メール: <a href="mailto:david@jamboschool.jp">david@jamboschool.jp</a>	 <br>
電話: 080-6546-7688</p><br>

<h2>アクセス</h2>

	<div class="note"><div class="content" style="padding: 11px 8px">
		<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps/ms?ll=35.671295,139.797657&amp;spn=0.005508,0.009645&amp;t=m&amp;z=17&amp;msa=0&amp;msid=210768222520847954293.0004c89e911bcc9f808ef"></iframe><br /><small>View <a href="https://maps.google.com/maps/ms?ll=35.671295,139.797657&amp;spn=0.005508,0.009645&amp;t=m&amp;z=17&amp;msa=0&amp;msid=210768222520847954293.0004c89e911bcc9f808ef&amp;source=embed" style="color:#0000FF;text-align:left">Jambo School</a> in a larger map</small>
<!--			<img src="img/map.png" alt="アクセスマップ">--><br class="clear">
		</div></div>
<p style="line-height: 1.5em; font-size: 16px">
	質問や授業についてのご相談がある方は、気軽にジャンボ学校のテーヴィッド・ハウエンスタインにご連絡を。</p>
	<div class="note"><div class="content" style="padding: 11px 8px">
			<img src="img/shimada.jpg" width="440" alt="アクセスマップ"><br class="clear">
		</div></div>
</div>
<div class="right column">
	<br>
	<div class="note">
		<div class="content">
			<% if @thank_you %>
				<h2>ＪＡＭＢＯ学校に興味をお持ちいただき、ありがとうございます。</h2>
				<p>当方は皆さまからいただいたすべてのメッセージに目を通しておりますが、すべてにお返事できるわけではありません。</p>
			<% else %>
			<form method="post">
				<h2>ご自由に、こちらにメッセージをお書きください。</h2>
				
				<% if @error: %>
				<div class="form-error">
					<%= @error %>
				</div>
				<% end %>

				<div class="formrow"><label for="contact_email">メールアドレス: &nbsp;</label><input type="email" value="<%= @contact_email %>" name="contact_email"></div>

				<div class="formrow"><label for="contact_name">名前: &nbsp;</label><input type="text" value="<%= @contact_name %>" name="contact_name"></div>

				<div class="formrow"><label for="contact_phone">電話番号: &nbsp;</label><input type="text" value="<%= @contact_phone %>" name="contact_phone"></div>
		
				<div class="formrow"><label for="message">メッセージ: &nbsp;</label><textarea name="contact_message"><%= @contact_message %></textarea></div>
		
				<input type="submit" value="送れる" name="send" class="button">

			</form>
			<% end %>
			<br class="clear">	
		</div>
	</div>
</div>
<br class="clear">
<div class="left column">
</div>
<div class="right column">
</div>