<h2>Contact</h2>

<div class="left column">

<p style="line-height: 1.5em; font-size: 16px">JAMBO English School<br>
	東京都江東区富岡 1-26-13-203 (Shimada Bld.) <br>
	美容室の MESSA Raffinato の隣
</p>

<p style="line-height: 1.5em; font-size: 16px">メール: david@jamboschool.jp <br>
電話: 080-6546-7688</p><br>

	<div class="note"><div class="content" style="padding: 11px 8px">
			<img src="img/map.png" alt="アクセスマップ"><br class="clear">
		</div></div>
<p style="line-height: 1.5em; font-size: 16px">
	質問や授業についてのご相談がある方は、気軽にジャンボ学校のテーヴィッド・ハウエンスタインにご連絡を。</p>
</div>
<div class="right column">
	<br>
	<div class="note">
		<div class="content">
			<% if @thank_you %>
				<h2>Thank you for your interest in JAMBO School.</h2>
				<p>While we read all messages, we can't promise to answer all.</p>
			<% else %>
			<form method="post">
				<h2>Feel free to write a message here</h2>
				
				<% if @error: %>
				<div class="form-error">
					<%= @error %>
				</div>
				<% end %>

				<div class="formrow"><label for="contact_email">Your e-mail: &nbsp;</label><input type="email" value="<%= @contact_email %>" name="contact_email"></div>

				<div class="formrow"><label for="contact_name">Your name: &nbsp;</label><input type="text" value="<%= @contact_name %>" name="contact_name"></div>

				<div class="formrow"><label for="contact_phone">Your phone: &nbsp;</label><input type="text" value="<%= @contact_phone %>" name="contact_phone"></div>
		
				<div class="formrow"><label for="message">Message: &nbsp;</label><textarea name="contact_message"><%= @contact_message %></textarea></div>
		
				<input type="submit" value="送れる" name="send" class="button">

			</form>
			<% end %>
			<br class="clear">	
		</div>
	</div>
</div>