<style type="text/css">


</style>
<div class="left column"><br>
	<div class="flipcard">
		<div class="front">
			<div class="note">
				<div class="content">
					<h2><a href="/fun/<%= @activepost["id"] %>"><%= @otherlang["title"] %></a><span class="post_date"><%= l Date.parse(@activepost["date"]), :human %></span></h2>
					<%= @otherlang["content"] %>
					<br>
					<div class="note_footer"><%= @activepost["categories"][0]["title"] %><a class="flip-button" href="#"><%= t.button.to_original %></a></div>

				</div>
			</div>
		</div>
		<div class="back">
			<div class="note"><div class="content">
				<h2><a href="/fun/<%= @activepost["id"] %>"><%= @activepost["title"] %></a><span class="post_date"><%= l Date.parse(@activepost["date"]), :human %></span></h2>
				<%= @activepost["content"] %>
				<br>
				<div class="note_footer"><%= @activepost["categories"][0]["title"] %><a class="flip-button" href="#"><%= t.button.to_translation %></a></div>
				</div>
			</div>
		</div>
	</div>
	<br>
</div>

<div class="right column">
<% @categories.each do |category| %>

	<h3><%= category["title"] %></h3> 
	<strong><%= t.fun.frequency[category["slug"]] %></strong>

	<ul>
	<% @posts.each_with_index do |post,index|%>
	<% if post["categories"][0]["id"]==category["id"] %>
	<li>
		<span class="post_date"><%= l Date.parse(post["date"]), :human %></span><a href="/fun/<%= post["id"] %>"><%= post["title"] %></a>
		
	</li>
	<% end %>
	<% end %>
	</ul>
	<hr>
<% end %>
<% if session[:locale]=="ja" %>

<p>また、ジャンボインターナショナルのページもお気軽にのぞいてみてください。そこには<a href="http://jambointernational.org/category/writing/" target="_blank">ジャンボエッセイ</a>（毎月、第２火曜日ごろに更新）や、<a href="http://jambointernational.org/category/pondering/" target="_blank">ジャンボ心の声</a>（毎月、第１、第３火曜日ごろに更新）などが掲載されています。</p>

<% else %>

<p>Also, please feel free to check out JAMBO International’s <a href="http://en.jambointernational.org/category/writing/" target="_blank">JAMBO’s Writing (JAMBOエッセイ）</a> - generally put in every second Tuesday of the month - and <a href="http://en.jambointernational.org/category/pondering/" target="_blank">JAMBO Ponderings (心の声）</a>- generally put in on the 1st and 3rd Tuesday of every month.</p>

<% end %>
<br>

			<div class="note"><div class="content" style="height: 160px">
			<h3><%= t.newsletter.heading %></h3>
			<p><%= t.newsletter.subheading %></p>
			<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup">
<form action="http://jamboschool.us5.list-manage2.com/subscribe/post?u=e61f237f4c5eb638b28488c23&amp;id=40494aff1f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">

<div class="mc-field-group">
<label for="mce-EMAIL"><%= t.newsletter.email %></label>
<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
</div>
<div class="mc-field-group">
<label for="mce-NAME"><%= t.newsletter.name %></label>
<input type="text" value="" name="NAME" class="" id="mce-NAME">
<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
<div id="mce-responses" class="clear">
<div class="response" id="mce-error-response" style="display:none"></div>
<div class="response" id="mce-success-response" style="display:none"></div>
</div>
</div>

</form>
</div>
</div>

<!--End mc_embed_signup-->
		</div></div>
</div>

