<style type="text/css">
.post_date{
	float: right;
	font-size: 90%;
}
</style>
<div class="left column"><br>
	<div class="note"><div class="content">
		<h1><%= @activepost["title"] %></h1>
		<%= @otherlang["content"] %>
		<hr>
		<%= @activepost["content"] %>
		<br>
		<span class="post_date"><%= l Date.parse(@activepost["date"]), :human %></span>
		</div>
	</div>
	<br>
			<div class="note"><div class="content" style="height: 160px">
			<h3><%= t.newsletter.heading %></h3>
			<p><%= t.newsletter.subheading %></p>
			<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup">
<form action="http://jamboschool.us5.list-manage2.com/subscribe/post?u=e61f237f4c5eb638b28488c23&amp;id=40494aff1f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">

<div class="mc-field-group">
<label for="mce-EMAIL"><%= t.newsletter.email %></label>
<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
</div>
<div class="mc-field-group">
<label for="mce-NAME"><%= t.newsletter.name %></label>
<input type="text" value="" name="NAME" class="" id="mce-NAME">
<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
<div id="mce-responses" class="clear">
<div class="response" id="mce-error-response" style="display:none"></div>
<div class="response" id="mce-success-response" style="display:none"></div>
</div>
</div>

</form>
</div>
</div>

<!--End mc_embed_signup-->
		</div></div

</div>

<div class="right column">
<% @categories.each do |category| %>

	<h3><%= category["title"] %></h3> 
	<strong><%= t.fun.frequency[category["slug"]] %></strong>

	<ul>
	<% @posts.each_with_index do |post,index|%>
	<% if post["categories"][0]["id"]==category["id"] %>
	<li>
		<span class="post_date"><%= l Date.parse(post["date"]), :human %></span><a href="/fun/<%= post["slug"] %>"><%= post["title"] %></a>
		
	</li>
	<% end %>
	<% end %>
	</ul>
	<hr>
<% end %>
<% if session[:locale]=="ja" %>

<p>また、ジャンボインターナショナルのページもお気軽にのぞいてみてください。そこにはジャンボエッセイ（毎月、第２火曜日ごろに更新）や、ジャンボ心の声（毎月、第１、第３火曜日ごろに更新）などが掲載されています。</p>

<% else %>

<p>Also, please feel free to check out JAMBO International’s JAMBO’s Writing (JAMBOエッセイ） - generally put in every second Tuesday of the month - and JAMBO Ponderings (心の声）- generally put in on the 1st and 3rd Tuesday of every month.</p>

<% end %>
<br>

</div>

