<!doctype html>
<html lang="ja">
<head>
	<meta charset="utf-8">
	<link href='/style/jamboschool.css' rel='stylesheet' type='text/css'>
	<title>ジャンボ学校</title>
</head>
<body class="<%= @body_class %>">
	<div id="clouds">
	<header>
		<div class="container">
			<div id="logo">JAMBO School</div>
			<nav>
				<ul>
					<li class="<%= @m[:home] %>"><a href="/">Home</a></li>
					<li class="<%= @m[:about] %>"><a href="/about">About school</a></li>
					<li class="<%= @m[:classes] %>"><a href="/classes">Classes &amp; Payments</a></li>
					<li class="<%= @m[:fun] %>"><a href="/fun">Fun with English</a></li>
					<li class="<%= @m[:contact] %>"><a href="/contact">Contact</a></li>
				</ul>
			</nav>
		</div>
	</header>
	<div class="container main" >
    <%= yield %>
			<br class="clear">

	</div>
	<div id="footer">
		<div class="content">
		<div class="container">
			<div class="left column">
				<p>Copyright &copy; 2012 JAMBO English School. All Rights Reserved.</p>
			</div>
			<div class="right column">
				<p>Contact: David Howenstein, phone 080-6546-7688 email: <a href="mailto:david@jamboschool.jp">david@jamboschool.jp</a> </p>
			</div>
			<br class="clear">
		</div>
		</div>
	</div>
	</div>
</body>
</html>
