<!doctype html>
<html lang="<%= session[:locale] %>">
<head>
	<meta charset="utf-8">
	<meta author="Leszek Rybicki, http://studio.rybicki.cc">
	<meta name="keywords" value="ジャンボスクール, ジャンボ学校, 英語学校">
	<link href='/style/jamboschool.css' rel='stylesheet' type='text/css'>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-2132560-8']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
	<title><%= @title %><%= 
		unless @subtitle.empty?
		 " - "+@subtitle+" - "+@keywords
		end
		%>
		</title>
</head>
<body class="<%= @body_class %>">
	<div id="clouds">
	<div id="header">
		<div class="container">
			<a href="/"><div id="logo">JAMBO School</div></a>
			<div id="nav">
				<ul>
					<li class="<%= @m[:home] %>"><a href="/"><%= t.menu.home %></a></li>
					<li class="<%= @m[:about] %>"><a href="/about"><%= t.menu.about %></a></li>
					<li class="<%= @m[:classes] %>"><a href="/classes"><%= t.menu.classes %></a></li>
					<li class="<%= @m[:fun] %>"><a href="/fun"><%= t.menu.fun %></a></li>
					<li class="<%= @m[:contact] %>"><a href="/contact"><%= t.menu.contact %></a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="container main" >
    <%= yield %>
			<br class="clear">

	</div>
	<div id="footer">
		<div class="content">
		<div class="container">
			<div class="left column">
				<p><%= t.footer %><a target="_blank" href="http://www.behance.net/jkuik">Jakub Kuik</a></p>
			</div>
			<div class="right column">
				<p><%= t.contact %><a href="mailto:david@jamboschool.jp"><%= t.david %></a>　<%= t.phone %>080-6546-7688</p>
			</div>
			<br class="clear">
		</div>
		</div>
	</div>
	</div>
	<a id="language_switcher" href="?lang=<%=t.otherlang %>"><%= t.otherlangname %></a>
</body>
</html>
