<!doctype html>
<html lang="ja">
<head>
	<meta charset="utf-8">
	<meta author="Leszek Rybicki, http://studio.rybicki.cc">
	<link href='/style/jamboschool.css' rel='stylesheet' type='text/css'>
	<title><%= 
		unless @subtitle.empty?
		 @subtitle+" ー "
		end
		%><%= @title %>
		</title>
</head>
<body class="<%= @body_class %>">
	<div id="clouds">
	<div id="header">
		<div class="container">
			<div id="logo">JAMBO School</div>
			<div id="nav">
				<ul>
					<li class="<%= @m[:home] %>"><a href="/">ホームページ</a></li>
					<li class="<%= @m[:about] %>"><a href="/about">ジャンボ学校とは</a></li>
					<li class="<%= @m[:classes] %>"><a href="/classes">クラススケジュールと授業料</a></li>
					<!--<li class="<%= @m[:fun] %>"><a href="/fun">お楽しみ</a></li>-->
					<li class="<%= @m[:contact] %>"><a href="/contact">連絡先</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="container main" >
    <%= yield %>
			<br class="clear">

	</div>
	<div id="footer">
		<div class="content">
		<div class="container">
			<div class="left column">
				<p>著作権&copy;2012 ＪＡＭＢＯ英語学校 。無断複写･転載を禁じます。Design: <a target="_blank" href="http://www.behance.net/jkuik">Jakub Kuik</a></p>
			</div>
			<div class="right column">
				<p>連絡先：<a href="mailto:david@jamboschool.jp">デーヴィッド・ハウエンスタイン</a>　電話 080-6546-7688</p>
			</div>
			<br class="clear">
		</div>
		</div>
	</div>
	</div>
</body>
</html>
